/bin/
/Insert into d_aggregated_demand
/Insert into d_alerts
/Insert into d_available_supplier_data
/Insert into d_bb_parameter_set
/Insert into d_category_filter_exp
/Insert into d_data_owner
/Insert into d_data_owner_processing
/Insert into d_demand_transaction
/Insert into d_forecasting
/Insert into d_forecasting_accuracy
/Insert into d_forecasting_params
/Insert into d_inventory
/Insert into d_inventory_params
/Insert into d_item
/Insert into d_item_history
/Insert into d_item_supplier_data
/Insert into d_item_supplier_order_reason_m
/Insert into d_kpi_compl_wh_period
/Insert into d_kpi_item_history
/Insert into d_master_supplier
/Insert into d_order_archive
/Insert into d_order_by_supplier
/Insert into d_pareto_freq_boundary
/Insert into d_pareto_matrix_class
/Insert into d_pareto_picks_boundary
/Insert into d_pareto_sets
/Insert into d_pareto_vau
/Insert into d_pareto_volume_boundary
/Insert into d_replacement
/Insert into d_replenishment
/Insert into d_replenishment_policy
/Insert into d_replenishment_policy_archive
/Insert into d_rp_parameter_set
/Insert into d_seas_indv_index
/Insert into d_seas_indv_profile
/Insert into d_stock_holding_classification
/Insert into d_supplier
/Insert into d_supplier_delivery_mode
/Insert into d_supplier_order_reason_map
/Insert into d_warehouse
/Insert into d_warehouse_group
/Insert into d_warehouse_settings
/Insert into d_warehouse_super_group
/Insert into occrule_ou
/Insert into occrulesch_oe
/Insert into schedule_bu
/Insert into d_category_filter_exp.sql
/Insert into d_data_owner_processing.sql
/Insert into d_pareto_freq_boundary.sql
/Insert into d_supplier_order_reason_map.sql
/Insert into schedule_bu.sql
